# Install to: /usr/share/dbus-1/system-services/io.edgeberry.devicehub.Core.service
# Core service is systemd-activated over D-Bus
[D-BUS Service]
Name=io.edgeberry.devicehub.Core
SystemdService=devicehub-core.service
