[Unit]
Description=Synchronize persistent certificates to MQTT broker
Documentation=man:systemd.service(5)
After=network.target

[Service]
Type=oneshot
ExecStart=/opt/Edgeberry/devicehub/scripts/sync-certs.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target
